Brotli==1.0.9
certifi==2021.10.8
cffi==1.14.0
charset-normalizer==2.0.9
click==8.0.3
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-renderer
dask==2.1.0
decorator==4.4.0
Flask==1.1.1
Flask-Compress==1.4.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
jupyter-core==4.5.0
kiwisolver==1.3.2
lightgbm==3.3.0
MarkupSafe==1.1.1
matplotlib==3.4.3
nbformat
numpy
packages==0.1.0
pandas==1.3.3
Pillow==8.3.2
pipreqs==0.4.11
plotly==5.4.0
pytz==2019.1
six==1.12.0
traitlets==4.3.2
Werkzeug==0.15.4
scikit-learn==1.0
scikit-surprise==1.1.1
scipy
seaborn
pickleshare
